* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: var(--main-dark);
  font-size: 14px;
  padding-top: 87px;
}

img {
  display: block;
  max-width: 100%;
}

.center {
  padding-left: calc(50vw - 125px);
  padding-right: calc(50vw - 125px);


  @media screen and (min-width: 520px) {
    padding-left: calc(50vw - 250px);
    padding-right: calc(50vw - 250px);
  }
  @media screen and (min-width: 767px) {
    padding-left: calc(50vw - 360px);
    padding-right: calc(50vw - 360px);
  }
  @media screen and (min-width: 890px) {
    padding-left: calc(50vw - 420px);
    padding-right: calc(50vw - 420px);
  }
  @media screen and (min-width: 1250px) {
    padding-left: calc(50vw - 600px);
    padding-right: calc(50vw - 600px);
  }
  @media screen and (min-width: 1400px) {
    padding-left: calc(50vw - 675px);
    padding-right: calc(50vw - 675px);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}